[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
pandas = "*"
urllib3 = "*"
folium = "*"
geopandas = "*"
streamlit-folium = "*"
hello = {git = "https://github.com/ericnost/hello.git"}
requests = "*"
branca = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
