[[source]]
url = "environmentalenforcementwatch.org"
verify_ssl = true
name = "SDWA_EEW"

[packages]
streamlit = "*"
pandas = "*"
urllib3 = "*"
folium = "*"
geopandas = "*"
streamlit-folium = "*"
requests = "*"
branca = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.16"
